.button {
    position: relative;
    &__icon {
        display: inline-block;
        vertical-align: middle;
    }
    &__text {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        padding: 10px;   
    }
    .icon_path {
        transition: fill .6s;
    }
    :hover .icon_path {
        fill: $hover-color;    
    } 
        
}