.quote{
    background: url("../img/quote-bg.jpg") center (center / cover) no-repeat;
    height: 500px;
    margin-bottom: 150px;
    text-align: center;
    padding-top: 128px;
    &__text{
        margin: 0 auto;
        font-size: 42px;
        line-height: 57px;
        color: #fff;
        max-width: 670px;
    }
}